@import '../../../assets/Themes/colors.scss';
@import '../../../assets/Themes/global.scss';


:-ms-input-placeholder{
    color: var(--blue-accent);
}
::-ms-input-placeholder{
    color: var(--blue-accent);
}
::placeholder {
    color: var(--blue-accent);
}

input, button{
    display: block;
    transition: all ease-in 0.5s;
}

button{
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background: var(--blue-dark);
    color: var(--blue-accent);
    letter-spacing: 5px;
}

textarea{
    resize: none;
}

input, textarea, button{
    font-family: $font-text;
    letter-spacing: 1px;
    font-size: $font-medium;
    padding: 10px;
    margin-bottom: 15px;
    background: var(--bg-dark);
    color: var(--blue-light);
    border: solid 2px var(--blue-darker);
    transition: all ease-in 0.5s;
    width: 80%;
    @include medium-screen{
        width: 100%;
    }
    @include large-screen{
        width: 80%;
    }
}

input:focus, textarea:focus{
    border: solid 2px var(--blue-dark);
}


button:disabled{
    border-color:var(--red-darker);
}

.ng-invalid.ng-dirty{
    border-color:var(--red-darker);
}

.contact{
    display: flex;
    flex-flow: column wrap;
    color: var(--blue-accent);
    letter-spacing: 1px;
    line-height: 2;
    font-family: $font-text;
    font-size: $font-medium;
    &-content{
        margin: 5vw;
        height: 50%;
    }
    &-header{
        font-family: $font-head;
        font-size: $font-large;
        color: var(--blue-dark);
        margin: 1rem 0;
    }
    &-sent{
        animation: mail-sent 1s ease-in;
        animation-fill-mode: forwards;
        opacity: 0;
        .fa-check{
            color: car(-green-darker);
            font-size: 25px;
        }
    }
}



@include medium-screen{
    .contact{
        align-items: center;
        &-content{
            padding: 1vw;
            margin: 1vw 0;
        }
        &-content:first-child{
            padding-right: 5vw;
        }
        &-link_item{
            width: 30%;
        }
    }
}

@include large-screen{
    .contact{
        height: 100%;
        flex-flow: row  nowrap;
        &-content{
            padding: 1vw;
            width: 50%;
        }
        &-content:first-child{
            padding-right: 2vw;
        }
    }
}



@include keyframes(mail-sent){
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}