@import '../../../assets/Themes/colors.scss';
@import '../../../assets/Themes/global.scss';


.skills{
    @include flex-vh;
    flex-flow: column wrap;
    color: var(--blue-accent);
    background: var(--bg-dark);
    padding: 80px 2vw 2vw 5vw;
    letter-spacing: 1px;
    line-height: 2;
    font-family: $font-text;
    font-size: $font-medium;
    &-content{
        text-align: justify;
        margin-bottom: 1vw;
    }
    &-header{
        font-family: $font-head;
        font-size: $font-large;
        color: var(--blue-light);
    }
    &-list{
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1vw;
      }
      &-list-item{
        background: var(--blue-darker);
        padding: 0.5vw 1vw;
        margin: 0.5vw 0.5vw;
        border-radius: 10px;
      }
}



@include medium-screen{
    .skills{
        height: 100%;
        flex-flow: row wrap;
        &-content{
            padding: 1vw;
            width: 100%;
            margin: 1vw 0;
        }
    }
}

@include large-screen{
    .skills{

        &-content{
            padding: 1vw;
            width: 50%;
        }
        &-content:first-child{
            padding-right: 2vw;
        }
    }
}