@import '../../../assets/Themes/colors.scss';
@import '../../../assets/Themes/global.scss';


.about{
    @include flex-vh;
    flex-flow: column wrap;
    color: var(--blue-accent);
    letter-spacing: 1px;
    line-height: 2;
    font-family: $font-text;
    font-size: $font-medium;
    &-content{
        text-align: justify;
        margin-bottom: 1vw;
    }
    &-header{
        font-family: $font-head;
        font-size: $font-large;
        color: var(--blue-light);
    }
    &-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        text-align: center;
    }
    &-link_item{
        color: var(--blue-accent);
        background: var(--blue-darker);
        padding: 0.2vw 1vw;
        margin: 10px 0;
        transition: all ease 0.5s;
        border-radius: 5px;
    }
    &-link_item:hover{
        color: var(--blue-darker);
        background: var(--blue-accent);
    }
}



@include medium-screen{
    .about{
        height: 100%;
        flex-flow: row wrap;
        &-content{
            padding: 1vw;
            width: 100%;
            margin: 1vw 0;
        }
        &-link_item{
            width: 30%;
        }
    }
}

@include large-screen{
    .about{

        &-content{
            padding: 1vw;
            width: 50%;
        }
        &-content:first-child{
            padding-right: 2vw;
        }
    }
}