<div class="skills">
  <div class="skills-content">
    <h1 class="skills-header">
        My Background as a Front End Web Developer
    </h1>
    <p>I graduated on year 2015 and took up Bachelor’s Degree in Information and Communication Technology at Rizal Technological University.</p>
    <p>After I graduated, I am employed in PCN Promo Pro, Inc. as Web Developer and been doing systems using HTML, CSS, JavasScript PHP and MySQL.</p>
    <p>In mid of 2015, I am hired as a Multimedia Specialist in Sykes Asia Inc. responsible for creating a logo design, photo editing, video editing, creating infographic illustrations, mock-up design, UI design and web design.</p>
    <p>In 2017, I got my new position as Associate Software Engineer in Sykes Asia Inc. and assigned in  Front-End Development focused on UI / UX design, Web Design, worked in different JavaScript libraries, communicates with Back-End developers, develop mockup design, and created a responsive web design.</p>
    <p>Right now I am with PCCW Solutions Limited as a Solutions Developer focused on Node and Angular.</p>
    <p>Having {{dateNow}} years of experience in IT field that I earned in my professional working experience, personal and freelance projects.</p>
  </div>
  <div class="skills-content">
    <h1 class="skills-header">
      Web Development
    </h1>
    <div class="skills-list">
      <div class="skills-list-item">HTML</div>
      <div class="skills-list-item">CSS</div>
      <div class="skills-list-item">SASS</div>
      <div class="skills-list-item">BEM</div>
      <div class="skills-list-item">OCSS</div>
      <div class="skills-list-item">Bootstrap</div>
      <div class="skills-list-item">Responsive Web Design</div>
      <div class="skills-list-item">JavasScript</div>
      <div class="skills-list-item">JQuery</div>
      <div class="skills-list-item">Express</div>
      <div class="skills-list-item">Angular</div>
      <div class="skills-list-item">Node</div>
      <div class="skills-list-item">Wordpress</div>
      <div class="skills-list-item">PHP</div>
      <div class="skills-list-item">MongoDB</div>
      <div class="skills-list-item">MySQL</div>
      <div class="skills-list-item">Git</div>
    </div>
    <h1 class="skills-header">
      Multimedia Development
    </h1>
    <div class="skills-list">
      <div class="skills-list-item">Adobe Illustrator</div>
      <div class="skills-list-item">Adobe Premier</div>
      <div class="skills-list-item">Adobe Photoshop</div>
      <div class="skills-list-item">Articulate Storyline</div>
      <div class="skills-list-item">E-learning Modules</div>
      <div class="skills-list-item">PSD to HTML</div>
      <div class="skills-list-item">Logo Design</div>
      <div class="skills-list-item">Vector Design</div>
    </div>
  </div>
</div>