:root {
    --bg-darker: #121a21; // main bg 
    --bg-dark: #243442; // main bg 
    --bg-light: #2c3e50; 
    --bg-accent: #3f5973; 

    --blue-darker:  #1c567d; 
    --blue-dark: #2f90d0; // font
    --blue-light: rgb(130, 188, 226);  //font
    --blue-accent: #d5e9f6; // font

    --red-darker: #c0392b;
    
    --green-darker: #27ae60;


    // Coffee animation
    --coffee-outline: #2f90d0;
    --liquid-color: #A1887F;
    --liquid-outline: #8D6E63;
}