:root {
    --bg-darker: #121a21; // 10% L/D
    --bg-dark: #243442; // 20%
    --bg-light: #2c3e50; // 24%
    --bg-accent: #3f5973; // 35%

    --blue-darker:  #1c567d; // 30% L/D
    --blue-dark: #2f90d0; // 50% 
    --blue-light: #82bce3; // 70% 
    --blue-accent: #d5e9f6; // 85%




    // Coffee animation
    --coffee-outline: #2f90d0;
    --liquid-color: #A1887F;
    --liquid-outline: #8D6E63;
}