@import '../../../assets/Themes/colors.scss';
@import '../../../assets/Themes/global.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.container object {
    height: auto;
    width: 50%;
    display: inline-block;
    animation: rotate ease 5s infinite;
}

.container p {
    font-size: 3em;
    color: var(--blue-dark);
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg)
    }
    40% {
        transform: rotateY(180deg)
    }
    80% {
        transform: rotateY(360deg)
    }
    100% {
        transform: rotateY(360deg)
    }
}


@include large-screen{
    .container object{
        width: 30%;
    }
}