<div class="about">
    <div class="about-content">
        <h1 class="about-header">
            Hi! Thanks for stopping by.
        </h1>
        <p>I'm Davecar Grave a Front-End Web Developer from the Philippines.</p>
        <p>I have been working since 2015 and started being engaged professionally in the field of Web and Multimedia Development.</p>
        <p>I'm currently enhancing my skills in HTML, CSS, and Javascript by learning Javascript Frameworks like Angular, Node,  MEAN stack and learning the process of UI and UX design.</p>
        <p>I'm also have experience creating interactive e-learning modules using Articulate Storyline.</p>
        <p>I have a passion for Web Development because it gives me a room for creativity and logical thinking that I can implement in the website.</p>
        <p>In my leisure time, I play computer games with my friends, answering questions in StackOverflow, reading blogs, listening to podcasts, and I also do web development tutorials by creating a blog and in time to come to create a video tutorials.</p>
        <p>This website is created to be able to share my profile, knowledge and learnings.</p>
    </div>
    <div class="about-content">
        <p>Look me up on</p>
        <div class="about-link">
                <a class="about-link_item" href="https://www.linkedin.com/in/davecargrave/" target="blank">
                    <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
                </a>
                <a class="about-link_item" href="https://github.com/davecar21" target="blank">
                    <i class="fab fa-github" aria-hidden="true"></i> Github
                </a>
                <a class="about-link_item" href="https://stackoverflow.com/users/7963542/davecar21" target="blank">
                    <i class="fab fa-stack-overflow" aria-hidden="true"></i> StackOverFlow
                </a>
                <a class="about-link_item" href="https://codepen.io/davecar21/" target="blank">
                    <i class="fab fa-codepen" aria-hidden="true"></i> CodePen
                </a>
                <a class="about-link_item" href="https://medium.com/@davecar21" target="blank">
                    <i class="fab fa-medium" aria-hidden="true"></i> Medium
                </a>
                <a class="about-link_item" href="https://www.instagram.com/deibu21/" target="blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i> Instagram
                </a>
        </div>
        <p>Please feel free to say Hi! and looking forward from hearing from you soon.</p>
    </div>
</div>
