
@import '../../../assets/Themes/colors.scss';
@import '../../../assets/Themes/global.scss';

.navbar {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: $z-index1;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    background: $bg-darker;
}

.navbar_item{
    width: 100%;
    @include flex-vh;
    flex-flow: column nowrap;
    .logo {
        height: 75px;
        width: 60px;
        padding: 5px;
        margin-bottom: 5px;
        transition: all ease-in 2.5s;
        &:hover{
            transform: rotateY(360deg);
        }
    }
}

.navbar_link {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100% / 7);
    width: 100%;
    padding: 30px 0px;
    font-size: 1.5rem;
    transition: all ease 0.5s;
    &:hover {
        background: $bg-light;
        cursor: pointer;
        .fa {
            font-size: $font-xlarge;
            transition: all ease 0.5s;
        }
    }
    .link_label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-large;
        margin: 5px 0px;
        color: $blue-accent;
        transition: all ease 0.5s;
    }
}

.navbar-social{
    flex-flow: row nowrap;
}

.btn-close{
    @include flex-vh;
    z-index: $z-index2;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}


@media (min-width: 1200px) {
    .btn-close{
        display: none;
    }
    .navbar {
        width: 60px;
        padding: 10px 0px;
    }
    .navbar_link {
        height: 60px;
        width: 60px;
    }
    .navbar-social{
        flex-flow: column nowrap;
        .navbar_link{
            padding: 25px 0px;
            height: 0px;        
        }
    }
    .navbar_link .link_label {
        left: 60px;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
    }
    .navbar_link:hover .link_label {
        width: 250%;
    }
}