@import '../../../assets/Themes/colors.scss';
@import '../../../assets/Themes/global.scss';

.navbar {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: $z-index4;
  height: 100%;
  width: 100%;
  background: var(--bg-darker);
  transition: all ease-in 0.5s;
}

.navbar_item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.logo {
  height: 75px;
  width: 60px;
  padding: 5px 5px;
  margin-bottom: 5px;
  transition: all ease-in 0.5s;
}

.logo-mobile {
  display: block;
  position: absolute;
  width: 100%;
  background: var(--bg-darker);
  @extend .logo;
  padding: 0px 1vw;
}

.logo-holder {
  position: absolute;
  z-index: 999;
  height: 75px;
  width: 60px;
  top: 0;
  cursor: pointer;
  transition: all ease-in 0.5s;
}


.navbar_link {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100% / 7);
  width: 100%;
  padding: 30px 0px;
  font-size: $font-large;
  transition: all ease 0.5s;

  &:hover {
    background: var(--bg-light);
    cursor: pointer;

    .fas,
    .far,
    .fab {
      transition: all ease 0.5s;
    }
  }

  .link_label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px 15px;
    color: var(--blue-accent);
    transition: all ease 0.5s;
  }
}

.navbar_link-active {
  background: var(--blue-dark);
  color: var(--blue-accent);
}

.navbar-social {
  flex-flow: row nowrap;
}

.btn-close {
  @include flex-vh;
  z-index: $z-index5;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: $font-large;
  cursor: pointer;
}


@include medium-screen {
  .btn-close {
    font-size: $font-xlarge;

    .fas {
      transition: all ease-in 0.5s;
    }

    &:hover .fas {
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      color: var(--blue-accent);
    }
  }

  .navbar_link {
    font-size: $font-xlarge;
  }
}

@include large-screen {
  .btn-close {
    display: none;
  }

  .navbar {
    width: 60px;
    padding: 10px 0px;
  }

  .navbar_link {
    font-size: $font-medium;
    height: 60px;
    width: 60px;
    flex-flow: column nowrap;
  }

  .navbar-social {
    flex-flow: column nowrap;

    .navbar_link {
      padding: 25px 0px;
      height: 0px;
    }
  }

  .navbar_link .link_label {
    left: 60px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 0;
    margin: 0;
    padding: 0;
    background: var(--bg-darker);
  }

  .navbar_link:hover .link_label {
    width: 160%;
  }
}



@include large-screen {
  .logo-mobile {
    display: none;
  }
}
