<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
</head>
<body>
    

<div class="navbar">
    <div class="navbar-item">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <div class="item-label">ABOUT</div>
    </div>
    <div class="navbar-item">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <div class="item-label">PORTFOLIO</div>
        </div>
    <div class="navbar-item">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <div class="item-label">BLOG</div>
    </div>
    <div class="navbar-item">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <div class="item-label">CONTACT</div>
    </div>
</div>






<i class="fa fa-hand-paper-o" aria-hidden="true"></i>

<script src="https://use.fontawesome.com/99c6df0523.js"></script>

</body>
</html>
