@import '../assets/Themes/colors.scss';
@import '../assets/Themes/global.scss';

.preLoader{
    display: none;
    position: absolute;
    z-index: $z-index5;
    background: $bg-dark;
    height: 100%;
    width:100%;
    box-sizing: border-box;
}

.preLoaded{
    @include flex-vh;
}

.logo-container{
    position: relative;
    @include flex-h;
    overflow: hidden;
    width:50%;
    .logo{
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .preLoader{
        width: calc(100% - 60px);
        margin-left: 60px;
    }
    .logo-container{
        width:15%;
        .logo{
            width: 100%;
        }
    }
}
