<app-navbar></app-navbar>

<div [class.preLoaded]="preLoaderStatus" class="preLoader">
    <div class="logo-container">
        <object class="logo" data="../assets/Images/logo-preloader.svg"></object>
    </div>
</div>
<div class="content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<!-- 
<ins class="adsbygoogle side-ads"
     style="
     display:inline-block;width:120px;height:600px;
     position: fixed;
     right: 0;
     top: 10rem;
     opacity: 0"
     data-ad-client="ca-pub-8475334085101638"
     data-ad-slot="3537005041"
     [class.isBlog]="toggleBlog"></ins> -->


     <ins class="adsbygoogle bottom-ads"
     style="display:block;
     bottom: 0;
     position: absolute;"
     data-ad-client="ca-pub-8475334085101638"
     data-ad-slot="9745150746"
     data-ad-format="auto"
     data-full-width-responsive="true"
     [class.isBlog]="toggleBlog"></ins>