<div class="content">
    <div class="coffee" (mouseenter)="fillLiquid()" (mouseleave)="drainLiquid()">
        <div class="coffee-mug"></div>
        <div class="coffee-handle"></div>
        <div class="coffee-liquidCont">
            <div class="coffee-liquid" [ngClass]="{
                'coffee-liquid--fill': coffeeLiquid,
                'coffee-liquid--drain': coffeeLiquid
              }"></div>
            <div class="code">
                <span class="code-icon">&lt;</span>
                <span class="code-icon">/</span>
                <span class="code-icon">&gt;</span>
            </div>
        </div>
    </div>
    <span class="content-name">Hi, I'm Davecar Grave</span>
    <span class="content-title">Front-end Developer</span>
    <div class="content-text">
            A coffee dependent person that converts caffeine into code.
    </div>
</div>