/* You can add global styles to this file, and also import other style files */

@import './assets/Themes/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    outline : none;
    text-decoration: none;
    color: $blue-dark;
    transition: all ease 0.5;
    &:hover{
        color: $blue-accent;
    }
}

.content {
    height: 100%;
    width: calc(100% - 60px);
    margin-left: 60px;
    box-sizing: border-box;
}

.fa{
    font-size: $font-large;
    transition: all ease 0.5s;
}