/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import './assets/Themes/colors.scss';
@import './assets/Themes/global.scss';


html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-text;
}

a {
    outline : none;
    text-decoration: none;
    color: var(--blue-dark);
    transition: all ease 0.5;
    &:hover{
        color: var(--blue-accent);
    }
}

.content {
    background: var(--bg-dark);
    height: 100%;
    width:100%;
    padding: 5%;
    box-sizing: border-box;
}

.fa{
    transition: all ease 0.5s;
}


@include large-screen{
    .content{
        padding: 5% 5% 5% 10%;
    }
}