/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import './assets/Themes/colors.scss';
@import './assets/Themes/global.scss';




html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-text;
    background: var(--bg-dark);
}

a {
    outline : none;
    text-decoration: none;
    color: var(--blue-dark);
    transition: all ease 0.5;
    &:hover{
        color: var(--blue-accent);
    }
}

.content {
    background: var(--bg-dark);
    width:100%;
    padding: 80px 2vw 2vw 2vw;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

.fa{
    transition: all ease 0.5s;
}

@include large-screen{
    .content{
        padding: 2vw 2vw 2vw 6vw;
    }
}