$bg-dark: #121a21;
$bg-light: #2c3e50;
$bg-accent: #3f5973;
$blue-dark: #2980b9;
$blue-light: #3498db;
$blue-accent: #7dbde8;
$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-xlarge: 2rem;

$z-index1: 100;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;