*{
    box-sizing: border-box;
}

p,
span{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


$font-head: 'Lato', sans-serif;
$font-text: 'Roboto', sans-serif;


$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-xlarge: 2rem;

$z-index1: 100;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;

// flex center
@mixin flex-vh{
    display: flex;
    justify-content: center;
    align-items: center;
}
// flex horizontal
@mixin flex-h{
    display: flex;
    align-items: center;
}
// flex vertical
@mixin flex-v{
    display: flex;
    justify-content: center;
}

// vendor mixin
$vendors: (
    '-webkit-', '-moz-', '-ms-','-o-',''
);
@mixin vendor($prop,$val...) {
    @each $key in $vendors {
        #{$key}#{$prop}:$val;
    }   
}

// keyframes mixin
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content; 
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @-ms-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    } 
  }

  // media query mixin
  @mixin medium-screen {
    @media only screen and (min-width: 768px) {
        @content;
    } 
  }

  @mixin large-screen {
    @media only screen and (min-width: 1200px) {
        @content;
    }
  }